<div class="icon-bar five-up" role="navigation">
 <a class="item" aria-labelledby="#itemlabel1">
   <img src="images/icon/fi-home.svg">
   <lable id="itemlabel1">Home</lable>
 </a>
 <a class="item" aria-labelledby="#itemlabel2">
   <img src="images/icon/fi-info.svg">
   <lable id="itemlabel2">Info</lable>
 </a>
 <a class="item" aria-labelledby="#itemlabel3">
   <img src="images/icon/fi-bookmark.svg">
   <lable id="itemlabel3">Bookmark</lable>
 </a>
 <a class="item" aria-labelledby="#itemlabel4">
   <img src="images/icon/fi-mail.svg">
   <lable id="itemlabel4">Mail</lable>
 </a>
 <a class="item" aria-labelledby="#itemlabel6">
   <img src="images/icon/fi-like.svg">
   <lable id="itemlabel6">Like</lable>
 </a>
</div>
